$font-1: 'font-1', sans-serif;
$font-title: 'font-title', sans-serif;

$color1: rgb(243, 243, 243);
$color2: rgb(233, 233, 233);
$color3: rgb(209, 209, 209);
$color4: rgb(105, 105, 105);
$color5: black;

