.secondary__section__container {
  background: $color1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  @media screen and (max-width: 900px) {
grid-template-columns: 1fr;
  }
}
.ss__article {
  padding: 75px 10%;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    border: solid 1px $color3;
    width: calc(100% - 0.15%);
    top: 0;
    left: 0;
  }
  &:first-child {
    border-right: solid 1px $color3;
  }
  h3 {
    margin: 15px 10%;
    line-height: 40px;
    letter-spacing: 2px;
    max-height: 100px;
    @media screen and (max-width: 1270px) {
      font-size: 1.2rem;
    }
  }
  .ss__content p {
    margin: 25px 0;
    text-align: left;
  }
}
