.main__section__container {
  padding: 80px 10% 120px;
  background: $color1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ms__header {
  position: relative;
  width: 100%;
  p {
    text-align: center;
    width: 200px;
    margin: 0 auto;
  }
  p::after,
  p::before {
    content: '';
    position: absolute;
    border: solid 1px $color3;
    width: calc(50% - 100px);
    top: 50%;
  }
  p::after {
    right: 0;
  }
  p::before {
    left: 0;
  }
}
.ms__content {
  margin: 70px 20%;
  text-align: center;
  p {
    margin-top: 40px;
    font-style: italic;
  }
}
  .ms__img {
    margin-bottom: 60px;
  }